<?xml version="1.0" encoding="utf-8"?>

<!--
/**
 * @author Bartosz Kubicki <bartosz.kubicki@lizardmedia.pl>
 * @copyright Copyright (C) 2018 Lizard Media (http://lizardmedia.pl)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">

    <router id="admin">
        <route id="adminhtml" frontName="downloadable">
            <module name="LizardMedia_ProductAttachment" before="Magento_Backend" />
        </route>
    </router>

</config>